name: Release Drafter

on:
  push:
    branches:
      - main
    paths:
      - setup.py

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Extract version
        id: version
        run: echo "##[set-output name=version;]"$(grep '^[[:blank:]]*version' setup.py | cut -d'"' -f 2)
      - uses: release-drafter/release-drafter@v6
        with:
          tag: "${{ steps.version.outputs.version }}"
          version: "${{ steps.version.outputs.version }}"
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
