name: Release Drafter

on:
  push:
    branches:
      - main

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Get version number from setup.py
        id: version
        shell: bash
        run: |
          set -e
          echo "version=$(grep '^[[:blank:]]*version' setup.py | cut -d'"' -f 2)" >> "$GITHUB_OUTPUT"
      - uses: release-drafter/release-drafter@v6
        with:
          tag: "${{ steps.version.outputs.version }}"
          version: "${{ steps.version.outputs.version }}"
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
